@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    z-index: 1;
  }
  
  .title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    color: white;
    font-family: var(--font-roboto);
  }
  
  .description {
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
    color: black;
  }
  
  .name {
    color: black;
  }
  
  .characters {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
  }
  
  

  .card {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    overflow: hidden; 
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .card img {
    max-width: 100%; 
    height: auto; 
  }
  
  .card:hover {
    background-color: #f0f0f0;
  }
  
  