:root{
    --color-text: #ffffff;
    --color-text-secondary: #000000;
    --color-primary: #ffffff;
    --color-secondary:  #1a3571;
    --color-dark: #000000;
    --color-bg: #000000;
    --font-robot: "Roboto";
}